:root{
    --black:#000000;
    --white:#fff;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.hero{
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
}

.parallax__bg{
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
}
}

.parallax__fg{
  display:flex;
  height:400px;
  width:400px;
}

.foreground{
  
}
.parallax{

}
